<html>
<head>
    <title>EVA Diagram</title>

    <!-- Sets the basepath for the library if not in same directory -->
    <script type="text/javascript">
        mxBasePath = '//jgraph.github.io/mxgraph/javascript/src';
    </script>

    <!-- Loads and initializes the library -->
    <script type="text/javascript"
            src="//jgraph.github.io/mxgraph/javascript/src/js/mxClient.js"></script>

    <script src="//cdn.ckeditor.com/4.4.6/standard/ckeditor.js"></script>
    <script src="/static/js/eva.js"></script>
    <script src="/static/js/sidebar.js"></script>
    <script src="/static/js/toolbar.js"></script>
    <script src="/static/js/jquery/jquery-3.1.0.js"></script>

</head>

<!-- Page passes the container for the graph to the program -->
<body onload="main(document.getElementById('graphContainer'),
		 	document.getElementById('toolbarContainer'),
			document.getElementById('sidebarContainer'));">


<!-- Creates a container for the graph with a grid wallpaper -->
<div id="title"
     style="text-align:center;top:30px;left:0px;right:0px;padding-top:35px;">
</div>
<!-- Creates a container for the sidebar -->
<div id="toolbarContainer"
     style="position:absolute;white-space:nowrap;overflow:hidden;top:0px;left:0px;max-height:24px;height:36px;right:0px;padding:6px;background-image:url('https://jgraph.github.io/mxgraph/javascript/examples/images/toolbar_bg.gif');">
</div>

<!-- Creates a container for the toolboox -->
<div id="sidebarContainer"
     style="display: none;position:absolute;overflow:hidden;top:36px;left:0px;bottom:36px;max-width:52px;width:56px;padding-top:10px;padding-left:4px;background-color: #9fcdff;">
</div>
<div id="graphContainer"
     style="position:relative; width:1000px;height:950px;cursor:default;">
</div>
</body>
</html>
