<html>
<head>
    <title>EVA Chart</title>

    <!-- Sets the basepath for the library if not in same directory -->
    <script type="text/javascript">
        mxBasePath = '//jgraph.github.io/mxgraph/javascript/src';
    </script>

    <!-- Loads and initializes the library -->
    <script type="text/javascript"
            src="//jgraph.github.io/mxgraph/javascript/src/js/mxClient.js"></script>

    <script src="/static/js/jquery/jquery-3.1.0.js"></script>
</head>

<!-- Page passes the container for the graph to the program -->
<body onload="main(document.getElementById('graphContainer'),
		 	document.getElementById('toolbarContainer'),
			document.getElementById('sidebarContainer'));">


<!-- Creates a container for the graph with a grid wallpaper -->
<div id="title"
     style="position: absolute;
    top: 70px;text-align:center;left:0px;right:0px;color: #193E5C;font-family: Arial; font-size: 30px">
</div>
<!-- Creates a container for the sidebar -->
<div id="toolbarContainer"
     style="position:fixed;z-index: 1001; white-space:nowrap;overflow:hidden;top:0px;left:0px;max-height:36px;height:36px;right:0px;padding:6px;background-color: #193E5C">
</div>
<!-- Creates a container for the toolboox -->
<div id="sidebarContainer"
     style="position:absolute;overflow-x: auto;top:48px;left:0px;bottom:0px;width:100px;padding:10px;border-right: ridge;">
</div>
<div id="graphContainer"
     style="position:relative; margin-left:20px; margin-top: 70px; width:100%;height:950px;autoscroll:yes;">
</div>
</body>
<script>
    let chart = {{ i|safe }};
</script>
<script src="/static/js/eva_chart.js"></script>
<script src="/static/js/sidebar.js"></script>
<script src="/static/js/toolbar.js"></script>
</html>
